/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
.fltlft{
     float: left;
}
.anc{
     text-decoration: none;
}
/******************************************
/* LAYOUT
/*******************************************/
.header{
     height: 210px;
     background: rgb(255, 255, 255);
}
nav{
     width: 60%;
     margin: 4% 0 0 19%;
}
.logo{
     height: 208px;
}
.lgo{
     height: 35px;
     margin-left: 3%;
}
.hfont{
     font-size: 1.9rem;   
     color: black;
}
.list{
     list-style: none;  
     margin-left: 6%;
}
main{
     background: url(devn-5unsplash.jpg) top no-repeat;
     height: 500px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
