/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header{
  height: 35px;
  background: black;
  color: white;
}
nav *{
  float: left;
  width: 10%;
  color: white;
  display: block;
  text-decoration: none;
  list-style: none;
  height: 35px;
}
nav ul{
  width: 60%;
  margin: 0 10px 10px 10px;
}
nav ul li{
  margin: 0 3px 0 3px;
  padding-top: 10px;
}
nav ul li, nav img, nav > a{
  border-right: 1px solid white;
}
nav form input{
  width: 100%;
  height: 30px;
}
nav img{
  height: 35px;
} 
nav > a{
  padding: 10px 0 0 5px;
}
main + section > section{
  width: 33.3333%;
  float: left;
}
main + section > section img{
  width: 90%;
}
main > section{
  width: 50%;
  height: 500px;
  float: left;
}
main section + section section{
  width: 50%;
  height: 250px;
  float: left;
}
main span{
  font-size: 15px;
}
main section + section section img {
  width: 95%;
}
main section + section section h3{
  font-size: 18px;
  margin: 0;
}
main > h2 + section h1{
  font-size:  30px;
}
main > h2 + section p{
  font-size: 20px;
}
main > section + section > h2{
  margin: -40px 0 40px 345px;
  
}
main > h2 + section img{
  width: 90%;
}
main> h2 + section{
  margin-top: 28px;
} 
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* nav *{
  background: black;
  float: left;
  list-style: none;
  box-sizing: border-box;
  display: block;
}
nav > ul {
  width: 90%;
  margin: 0 auto;
  height: 40px;
}
nav ul > li {
  padding: 10px 15px 0 15px;
  border-left: 1px solid white;
  height: 40px;
}
nav ul > li > a{
  color: white;
  text-decoration: none;
}
nav img{
  height: 40px;
  width: 10%;
}
.sign{
  padding: 10px 40px 0 40px;
}
main > section{
  float: left;
  width: 50%;
  height: 500px;
}

 */