/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/




/******************************************
/* LAYOUT
/*******************************************/
nav *, main *{
  float: left;
  list-style: none;
  text-decoration: none;
  color: black;
}
header > section{
  border: 3px solid whitesmoke;
  height: 60px;
}
main section{
  width: 50%;
}
.logo{
  height: 50px;
  margin-left: 180px;
}
nav ul{
  margin-left: 100px;
}
ul li{
  padding-right: 20px;
  font-size: 20px;
}
nav > a + h2 > a{
  line-height: .50;
}
nav input{
  background: lightgray;
  width: 70%;
  margin: 15px 0 0 50px;
  border: lightgray;
}
.courses{
  margin: 15px 0 0 20px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
